.home-banner {
	margin-bottom: 32px;

	background: {
		image: url('../images/desarrollador-web-codigo-escuela.jpg');
		position: center center;
		repeat: no-repeat;
		size: cover;
	}

	@include small-screen {
		background-image: url('../images/desarrollador-web-codigo-escuela-med.jpg');
	}

	@include very-small-screen {
		background-image: url('../images/desarrollador-web-codigo-escuela-small.jpg');
	}

	div.messages-buttons {
		@extend %big-row;
		padding: 18em 4%;

		@include small-screen {
			padding: 6em 4%;
		}
	}

	h1.primary-message, h2.secondary-message {
		font-family: $body-font-family;
		@include text-shadow;
		font-weight: light;
	}

	h1.primary-message {
		margin-left: 12%;
		@include font-size(2.6);

		@include small-med-screen {
			text-align: center;
			margin-left: 0;

			span.code-init {
				display: none;
			}
		}

		span.code-init, span.start-code {
			color: $primary-color;
		}

		span.middle-code {
			color: lighten($terciary-color, 10%);
		}

		span.end-code {
			color: lighten($secondary-color, 10%);
		}

		@include small-screen {
			span { display: block; }
			span.typed-cursor { display: none; }
		}
	}

	h2.secondary-message {
		color: $primary-color;
		margin-bottom: 60px;
		text-align: center;
	}

	a {
		@include text-shadow;
	}

}