.single-title {
	width: 100%;
	background: linear-gradient(45deg, #487671, #667e5e);

	h1 {
		text-align: center;
		color: $clear-gray;
	}
}


.news-articles {
	@extend %big-row;
	@extend %flexbox-box;
	justify-content: space-between;

	article {
		width: 45%;

		@include small-screen {
			width: 100%;
		}
		
		figure.post-thumb {
			margin: 0;
			width: 100%;
			height: 300px;
			overflow: hidden;
		}

		.news {
			margin-bottom: 32px;

			@include small-med-screen {
				width: 100%;
			}

			h2 {
				margin: 16px 0;
			}

			.date-author p {
				@include font-size(0.9);
				margin: 8px 0 16px;
			}
		}
	}
}

hr.article-seperator {
	clear: both;
	margin: 32px 0;
}

.single-article-content {
	width: 80%;
	max-width: 900px;
	margin: 32px auto;

	p {
		line-height: 2;
	}
}

.author {
	@extend .single-article-content;
	@extend %flexbox-box;
	justify-content: space-between;

	@include small-screen {
		justify-content: space-around;
	}

	align-items: center;
	box-shadow: 0 0 16px lighten($dark-gray, 10%) inset;

	background: darken($clear-gray, 15%);
	padding: 1.5em 2em;
	border-radius: 8px;

	.author-gravatar {
		width: 120px;
		clip-path: circle(60px at center);

		img {
			width: 100%;
		}

		@include small-screen {
			margin-bottom: 32px;
		}

	}

	.about-author {
		width: 77%;

		@include small-screen {
			width: 90%;
		}

		p {
			@include font-size(0.9);
		}
	}
}