@mixin box-background($left-position) {
	background: {
		image: url('../images/cursos-sprite.png');
		position: $left-position top;
		repeat: no-repeat;
		size: auto 70px;
	}
}

.home-boxes {
	@extend %big-row;
	@extend %flexbox-box;

	.hacer-paginas-web .box-image {
		@include box-background(0);
	}

	.paginas-responsivas .box-image {
		@include box-background(-100px);
	}

	.paginas-interactivas .box-image {
		@include box-background(-203px);
	}

	.box {
		width: 30%;
		min-width: 300px;
		flex-grow: 1;
		margin-right: 40px;

		@include small-med-screen {
			flex-grow: 0;
			margin-bottom: 32px;

			@include small-screen {
				margin: 0 auto 32px;
			}
		}

		.box-image {
			padding-top: 100px;
			width: 80px;
			height: 70px;
			margin: 0 auto;
		}

		&:last-child {
			margin-right: 0;

			@include small-screen {
				margin: 0 auto;
			}
		}

		h2 {
			text-align: center;
			height: 60px;
		}
	}
}