.buttons {
	text-align: center;
	padding: 16px 0;

	@include very-small-screen {
		a {
			display: block;
			width: 80%;
			margin: 0 auto;
		}
	}

}

a.main-button {
	@include cool-button($primary-color);
	margin-right: 20px;

	@include very-small-screen {
		margin: 0 auto 32px;
	}
}

a.secondary-button {
	@include cool-button($terciary-color);
}