@mixin courses-background($left-position, $top-position) {
	background: {
		image: url('../images/course-art-sprite.png');
		position: $left-position $top-position;
		repeat: no-repeat;
		size: auto 300%;
	}
}

.courses {
	@extend %big-row;

	h2 {
		text-align: center;
	}

	.courses-section {

		@include small-med-screen {
			padding: 0 5%;
		}
		
		&.level-1 {
			@include courses-background(right, 10px);

			@include small-med-screen {
				background: none;
			}
		}

		&.level-2 {
			@include courses-background(left, -258px);
			
			.course-text {
				margin-left: 25%;
			}

			@include small-med-screen {
				background: none;

				.course-text { margin-left: 0; }
			}
		}

		&.level-3 {
			@include courses-background(right, -538px);

			@include small-med-screen {
				background: none;
			}
		}

		.course-text {
			width: columnWidth(8);

			@include small-med-screen {
				width: 100%;
			}
			
			h4 {
				display: block;
				border-bottom: 2px solid $dark-gray;
				padding-bottom: 16px;
			}
		}
		
		margin-bottom: 60px;
	}
}