.course-page-title {
	
	@extend .page-title;
	margin-bottom: 32px;
	padding: 60px 0;

	.course-page-content {
		@extend %big-row;
  		margin: 0 auto;
	}

	h1 {
		text-align: center;
		color: lighten($terciary-color, 25%);
		letter-spacing: 1px;

		span.subtitulo {
			@include font-size(1.4);
			color: $primary-color;

			@include small-med-screen {
				display: block;
			}
		}
	}
	
	p {
		color: $clear-gray;
		text-align: center;
		@include font-size(1.2);
	}

}

.aprenderas {
	border-top: 1px solid $clear-gray;
	padding: 32px;
	
	column-width: columnWidth(5);

	@include small-med-screen {
		height: 100%;
	}

	ul {
		color: $clear-gray;
		@include font-size(1.1);
		list-style-image: url('../images/checkmark.gif');
		list-style-position: outside;
		margin-left: 20px;

		li {
			margin: 16px 0;
		}
	}
}

.schedule-pricing {
	@extend %big-row;
	@extend %flexbox-box;
	justify-content: center;
	margin-bottom: 32px;

	padding: $content-padding;

}

.fecha {
	@extend %flexbox-box;
	justify-content: space-around;

	h3 {
		font-size: 40px;
	}

	h3, p.mes {
		margin: 8px 0;
	}
}

.fechas-horarios {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	width: 305px;
	//width: 245px;
	border: 2px solid $dark-gray;
	padding: 20px 35px;
	border-radius: 6px;
	margin-right: 80px;

	h2 {
		margin-bottom: 16px;
	}
}

.imagen-fecha-horarios {
	width: 50px;
	height: 50px;
	margin: 0 auto;
	background: url('../images/fecha-horarios.png') no-repeat top center;

	margin-bottom: 16px;
}

.precio-curso {
	@extend .fechas-horarios;
	margin-right: 0;

	p {
		margin: 8px 0;
	}

	p.descuento {
		font-size: 24px;
	}

	p.precio-real {
		font-size: 32px;
		font-weight: bold;
		margin-bottom: 32px;
		position: relative;

		&:after {
			content: "";
			width: 70%;
			height: 3px;
			background-color: $cuartiary-color;
			position: absolute;
			top: 50%;
			left: 15%;
		}
	}

	a.main-button {
		display: block;
		margin-bottom: 16px;
		padding: 12px 0;
		margin-right: 0;
	}
}

.imagen-precio-curso {
	@extend .imagen-fecha-horarios;

	background: url('../images/precio-curso.png') no-repeat top center;
}

h3.titulo-contenido {
	text-align: center;
	margin-bottom: 16px * 3;
}

.contenido-de-curso {
	@extend %big-row;
	@extend %flexbox-box;
	justify-content: space-between;
	padding: 0 $content-padding;
}

.seccion-contenido {
	width: 30%;
	margin-right: 2%;
	margin-bottom: 32px;

	@include small-med-screen {
		width: 45%;
	}

	@include small-screen {
		width: 100%;
		margin: 16px 0;
	}

	p, ul {
		@include font-size(0.9);
	}

	p {
		margin: 8px;
	}

	ul {
		margin-bottom: 16px;
		list-style-position: outside;
		li {
			margin-bottom: 8px;
			margin-left: 18px;
		}
	}

}