.footer-container {
	background: lighten($terciary-color, 15%);
	margin-top: 32px;
	color: darken($dark-gray, 10%);

	a { color: darken($secondary-color, 10%); }
}

footer.main-content {
	@extend %flexbox-box;
	justify-content: space-between;
	background: transparent;
}

.footer-logo-box {
	background: {
		image: url('../images/codigoescuela-footer-logo.png');
		repeat: no-repeat;
		position: left top;
	}

	width: columnWidth(3.5);
	padding-left: 130px;
	color: darken($dark-gray, 10%);

	h3 { color: darken($dark-gray, 15%); }

	@include small-med-screen {
		width: 45%;
		background: none;
		padding-left: 0;
		margin-top: 32px;
	}

	@include small-screen {
		width: 100%;
	}
}

.footer-box {
	margin-right: 20px;
	width: columnWidth(2.5);
	color: darken($dark-gray, 10%);

	@include small-med-screen {
		width: 45%;
		margin-bottom: 32px;
	}

	@include small-screen {
		width: 100%;
	}

	&:last-child {
		margin-right: 0;
	}

	h3 { color: darken($dark-gray, 15%); }

	ul {
		list-style: none;
		margin: 0;

		li {
			margin-bottom: 4px;
		}
	}

	form input {
		display: block;
		margin-bottom: 8px;
	}

	p.thanks {
		display: none;
	}
}

.footer-copyright {
	background: lighten($terciary-color, 5%);
	p {
		@include font-size(0.8);
		letter-spacing: 2px;
		text-align: center;
		color: darken($dark-gray, 10%);
		padding: 8px 0;
		margin: 0;
	}
}