.contact-form-content {

	max-width: 700px;
	width: 100%;

}

form {

	p {
		margin: 4px 0;
	}

	label {
		display: block;
	}

	input, textarea {
		width: 100%;
		border: 1px solid darken($dark-gray, 10%);
		margin-bottom: 8px;
		padding: 8px 12px;
		color: $dark-gray;
	}

	input[type=submit]{
		background: lighten($dark-gray, 5%);
		color: white;
		border: 1px solid $dark-gray;
		border-radius: 4px;
		@extend %smooth-animation;

		&:hover {
			background: darken($dark-gray, 10%);
		}

		&:active {
			background: $dark-gray;
		}

		@include med-small-screen {
			padding: 1em 2em;
		}
	}

	input[type=checkbox], input[type=radio] { 
		width: 20px; 
		display: inline; 
	}

	.wpcf7-list-item {
		display: block;
	}

	input.wpcf7-captchar {
		width: 280px;
		display: inline;
	}

	p.enviar {
		position: relative;
	}

	img.ajax-loader {
		position: absolute;
		top: 8px; left: 45%;
	}

	.pending-course-statement {
		display: none;
	}
}