//General Styles
* {
  box-sizing: border-box;
}

body {
	font-family: $body-font-family;
	color: $dark-gray;
	background: $clear-gray;
	font-size: 16px;
	line-height: 1.6;
	height: 100%;
	position: relative;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: $dark-gray;
	margin-bottom: (16px * 2);
	line-height: 1.2em;
}

h1 {
	font-family: $header-font-family;
	@include font-size(1.8);
	margin: 0 0 16px * 2;
}

h2 {
	font-family: $header-font-family;
	@include font-size(1.6);
	margin: 0 0 16px * 2;
}

h3 {
	font-family: $header-font-family;
	@include font-size(1.4);
	margin: 0 0 16px;
}

h4, h5, h6 {
	font-family: $body-font-family;
	@include font-size(1.4);
	margin: 0 0 16px;
	font-weight: bold;
}

h5, h6 {
	@include font-size(1.1);
}

p {
	font-weight: lighter;

	&.short {
		margin: 4px 0;
	}

	&.small {
		@include font-size(0.8);
	}
}

a {
	color: $secondary-color;
	text-decoration: none;
	transition: color 0.2s;

	&:hover {
		color: darken($secondary-color, 25%);
	}
}

ul, ol {
	padding: 0;
	margin: 0;
	list-style-position: inside;

	li {
		@extend %smooth-animation;

		a {
			color: $primary-color;
		}
	}
}

.show-in-mobile { display: none; }

@include small-screen {
	.show-in-mobile { display: inline; }
	.hide-in-mobile { display: none; }
}

span.special {
	font-family: $header-font-family;
	font-weight: bold;
}

.hide {display: none;}

input[type="submit"] {
	appearance: none;
}

.main-content {
	h1 {
		margin: 32px 0; 
	}

	ul, ol {
		list-style-position: outside;
		margin-left: 30px;

		li {
			margin-bottom: 32px;
		}
	}

	p {
		margin-bottom: 16px * 2;
	}

	@extend %big-row;	
	line-height: 1.8;
	color: $dark-gray;
}

hr {
	border: 0;
	height: 1px;
	background-color: $light-gray;
	margin: 16px 0;
}

//WordPress Classes
.alignright {
	margin-left: 16px;
	float: right;
}

.alignleft {
	margin-right: 16px;
	float: left;
}

.wp-caption {
	padding: 7px 4px;
	background: $light-gray;
	border-bottom-left-radius:4px; border-bottom-right-radius: 4px; 
	box-shadow: 0 2px 4px lighten($dark-gray, 15%);

	p.wp-caption-text {
		@include font-size(0.9);
		text-align: center;
		margin: 4px 0;
	}
}