header.logo-navigation {
	@extend %big-row;
	@extend %flexbox-box;
	justify-content: space-between;
	padding: 8px $content-padding;
	@include font-size(0.9);



	@include small-screen  {
		.logo {
			display: block;
			margin: 0 auto;
		}
	}
}

.login-button {

	margin: 16px 0;

		a.login-button-header {
		display: block;
		color: $light-gray;

		line-height: 1;
		padding: 16px 2em;
		border-radius: 8px;
		border: 1px solid $light-gray;

		&:hover {
			background: $light-gray;
			color: white;
		}

		&:active {
			background: lighten($light-gray, 5%);
			color: white;
		}
	}

	@include small-screen {
		margin: 32px auto;
	}
}