.login-page {
	@extend %big-row;
	@extend %flexbox-box;
	justify-content: space-between;
}

.login-form {
	width: 45%;
	padding: 2em;
	border: 1px solid $light-gray;
	border-radius: 8px;
}

.login-content {
	width: 45%;
}

@include small-screen {
	.login-form, .login-content {
		width: 100%;
		margin-bottom: 32px;
	}
}