ul.main-navigation {
	list-style: none;
	display: flex;
	flex-flow: row wrap;

	@include small-screen {
		display: table;
		width: 100%;
	}

	@include very-small-screen {
		display: block;
		width: 100%;
	}

	li {
		@include small-screen {
			display: table-cell;
		}

		@include very-small-screen {
			display: block;
		}

		margin-bottom: 0;
		position: relative;

		a {
			color: $light-gray;
			display: block;
			padding: 29px 2em;
			position: relative;

			@include small-screen {
				border-bottom: 1px solid darken($clear-gray, 10%);
				text-align: center;
				padding: 29px 1em;
			}

			&:hover { 
				color: darken($light-gray, 25%);
			}

		}

		ul.sub-menu {
			@include small-screen {
				display: none;
			}

			position: absolute;
			left: -50%;
			top: 70%;
			white-space: nowrap;

			display: block;
			list-style: none;
			box-shadow: 0 4px 4px transparentize($dark-gray, 0.5);
			z-index: 100;

			opacity: 0;
			visibility: hidden;
			@extend %smooth-animation;

			&:before {
				content: '';
				display: block;
				width: 40px;
				height: 40px;
				background: darken($clear-gray, 20%);
				position: absolute;
				margin-top: -5px;
				margin-left: 80px;
				transform: rotate(45deg);
				z-index: -10;
			}
			
			li {
				border-top: 2px solid darken($clear-gray, 20%);

				a {
					background: darken($clear-gray, 3%);
					padding: 18px 2em;
				}

				&:hover a {
					background: darken($clear-gray, 25%);
					//color: $clear-gray;
				}
			}
		}

		&.menu-item-has-children:hover {
			ul.sub-menu {
				opacity:1;
				top: 90%;
				visibility: visible;
			}
		}
	}
}