.page-title {
	background: linear-gradient(45deg, #487671, #667e5e);

	@include small-screen {
		margin-bottom: 32px;
	}

	h1 {
		color: $clear-gray;
	}
}

@mixin incluidos-background($left-position) {
	background: {
		image: url('../images/incluidos-sprite.png');
		position: $left-position top;
		repeat: no-repeat;
	}
}

.page-incluidos {
	@extend %big-row;
	@extend %flexbox-box;
	justify-content: space-around;
	margin-bottom: 32px;
}

.codigoescuela-google-map {
	height: 400px;
}

.incluidos {

	width: 30%;
	margin-right: 2%;

	@include small-screen {
		width: 100%;
		margin: 0 0 32px;
		padding: $content-padding 0;
	}

	.incluidos-image {
		width: 110px;
		height: 90px;
		margin: 0 auto 32px;

		&.instructor {
			@include incluidos-background(20px);
		}

		&.libro {
			@include incluidos-background(-130px);
		}

		&.acceso-web {
			@include incluidos-background(-270px);
		}
	}

	h2 {
		text-align: center;
	}

	&:last-child {
		margin-right: 0;
	}
}

.map-content {
	font-family: $body-font-family;
	padding: 1em 2em;

	h2 {
		margin: 8px 0;
	}
}