.typed-cursor{
    opacity: 1;
    animation: blink 1s infinite;
    color: $primary-color;
}

.nav-typed-cursor {
    @extend .typed-cursor;
    color: $light-gray;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}